site_name: BBMRI Onboarding
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  # Add your page structure here

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences